extends layout

block canonical
    link(rel="canonical", href=url + "/download")

block content
    div.middle-play
        h2 Download Launcher
        p You can now play RuneScape Classic on Android and desktop for free!
        div.buttons
            div.server
                a.large-button(href="/static/downloads/OpenRSC.jar" title="Download desktop launcher") Desktop Launcher
            div.server
                a.large-button(href="/static/downloads/openrsc.apk" title="Download Android launcher") Android Launcher

        p Please read the&nbsp;
            a(href="faq") rules
            |  before playing.