extends layout

block content
    div.middle-content
        h1 Oh no!
        p.error-message #{message || 'An unknown error occurred. If you need assistance let us know in Discord.'}
        img.error-image(src="/static/images/Black_Demon.png" alt="A Black Demon has crossed your path! Do you run, do you hide, or do you fight?")
