extends layout

block content
    div.middle-content
        h1 Oh no!
        p.error-message This page doesn't seem to exist... If you think it should, let us know on Discord!
        img.error-image(src="/static/images/Black_Demon.png" alt="A Black Demon has crossed your path! Do you run, do you hide, or do you fight?")
