extends layout

block canonical
  link(rel="canonical", href=url)

block content
  div.middle-content
    div.logo(role="banner")
    p.subtitle Striving for an open source replica RuneScape Classic, and more!

    div.home-buttons
      a.button.wiki(target="_blank", href="https://classic.runescape.wiki") Wiki
      a.button.discord(target="_blank", href="https://discord.gg/mTBXvu2") Discord
      a.button.launcher-button(href="/download") Download
      a.large-button.play(href="/play") Server
        br
        | Details
      a.button.code(target="_blank", href="https://orsc.dev/open-rsc/Game#open-runescape-classic") Source
        br
        | Code
      a.button.single-player(target="_blank", href="https://orsc.dev/open-rsc/Single-Player#open-runescape-classic-single-player") Single
        br
        | Player
      a.button.faqs(href="/faq") Rules
        br
        | &amp; FAQ
      a.button.rscplus(target="_blank", href="https://rsc.plus") RSC+

