doctype html
html
  head
    title= page_name
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    if description !== undefined
      meta(name="description", content=description)
    else
      meta(name="description", content="An open source RuneScape Classic replica, developed and maintained by professionals.")
    link(rel='stylesheet', type="text/css", href='/static/stylesheets/style.css?v=10')
    link(rel="icon" type="image/ico" href="/static/images/favicon.ico" sizes="48x48")
    link(rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/static/images/favicon-180x180.png" sizes="180x180")
    link(rel="icon" type="image/png" href="/static/images/favicon-192x192.png" sizes="192x192")
    link(rel="icon" type="image/png" href="/static/images/favicon-512x512.png" sizes="512x512")

    block canonical
  body
    header
      h1
        a(href="/") Open RuneScape Classic
      nav(role="navigation")
        ul
          li
            a(href="/download") Download
          li
            a(target="_blank", href="https://discord.gg/mTBXvu2") Discord
          li
            a(target="_blank", href="https://orsc.dev") Code
          li
            a(target="_blank", href="https://reddit.com/r/rsc") Reddit
          li
            a(target="_blank", href="https://classic.runescape.wiki") Wiki
          li
            a(target="_blank", href="https://rsc.plus") RSC+
    main
      section.top-border
        div.top-left-border
        div.top-middle-border
        div.top-right-border

      section.middle
        div.mid-left-border

        block content

        div.mid-right-border

      section.bottom-border
        div.bottom-left-border
        div.bottom-middle
          div.copyright
            p This webpage is maintained by Open RuneScape Classic. 
             | We are not affiliated with RuneScape Classic or JaGeX in any way.
          div.bottom-middle-border
        div.bottom-right-border
