extends layout

block content
  div.middle-play
    h2 Select a server
    div.buttons
      div.server
        a.large-button(href="openrsc" title="1x, authentic") OpenRSC
        p #{openrsc} online
        div.features
          p Features:
          ul
            li 1x
            li Authentic gameplay
            li
              a(href="wiki") Minor QoL
      div.server
        a.large-button(href="cabbage" title="5x, custom") Cabbage
        p #{cabbage} online
        div.features
          p Features:
          ul
            li 5x experience
            li Increased game speed
            li 
              a(href="wiki") Custom content