extends layout

block content
  div.middle-content-hiscores
    div.title.hiscores-panel
      h2.hiscores-title User #{username}
      a.hiscores-link(href=server) Return to main menu
    
    div.hiscores
      div.hiscore-links
        h4
          span Player Menu
        div.hiscores-panel.players-nav
          a.hiscores-link(href="#") Skills
          a.hiscores-link(href="../hiscores") Back to all
      div.hiscore-table
        h4 Skills of #{username}
        div.hiscores-panel
          table
            thead
              th Skill
              th Level
              th XP
              th Rank
            tbody
              each row in hiscores
                tr
                  each column in row
                    td= column
