extends layout

block content
  div.middle-content
    div.rules
      h2 Rules
      
      h3 Do not Advertise
      ul
        li on other Discord servers (without staff permission)
        li on other RSC-based private game servers or websites
        li Mass DM/PM is considered advertising
      h3 No RWT
      ul
        li Real World Trading (RWT)
        li Anything outside of the Open RSC games is considered RWT
        li No scamming
      h3 Be respectful and civil
      ul
        li Language is flexible to a certain extent
        li Do not be rude and disrespectful
        li Be polite to all staff members
        li No posting illegal, NSFW, nor NSFL content
        li No heated discussions such as politics, religion, race, orientation
        li No impersonating staff members
        li Do not abuse tagging/mentions on Discord
        li Do not encourage rule breaking
        li No hosting “games of chance” (gambling)
        li Stay on topic in our Discord channels
      h3 No botting
      ul
        li Do not place bots, autos, nor macros inside our games
        li Do not exploit bugs
